.header a{
text-decoration: none;
font-size: 30px;
margin-right: 10px;
font-weight: 600;
padding: 5px;
color: white;
/* border: 1px solid tomato; */
border-radius: 10px;
}
.header a:hover{
  background-color: rgb(231, 114, 93);
}
.header{
    background-color: rgb(148, 148, 110);
    padding: 7px;
    position: fixed;
    width: 100%;
    /* margin-bottom: 10px;
    padding-bottom: 20px; */
}
.header img{
    height: 100px;
    width: 200px;
    padding-right: 50px;
}